:root {
  --colordefondo: #1FECFF;
  --colorprincipal: #1FECFF;
  --colorsecundario: #457b9d;
  --colordeacento: #a8dadc;
  --colorblanco: #ffffff;
  --colordetexto: #090805;
  --colordeborde: #d9e2ec;
  --colordehover: #5a8fb3;
  --colordeactive: #16324f;
  --fuenteprincipal: Lato, sans-serif;
  --fuentedetitulos: Poppins, serif;
}

h1, h2 {
  margin: 1px;
  padding: 5px;
  box-sizing: border-box;
}
h3 {
   text-align: center;
}
p {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colordetexto);
  padding: 20px;
  border-radius: 12px;
}
body {
  background-color: var(--colordefondo);
  color: var(--colordetexto);
  font-family: var(--fuenteprincipal);
  line-height: 1.4;
}

